@import "tailwindcss";

:root {
  --background: #f6f4f9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050509;
    --foreground: #ededed;
  }
}

body {
  @apply bg-background text-foreground font-sans;
}
